<!-- A ideia é que aqui o usuário veja todos os remédios e os que tem que tomar hoje -->

{% extends "main_app/layout.html" %}
{% load static %}

{% block body %}
    
{% if userMedsForToday %}
    <ul>
        {% for med in userMedsForToday %}
            <li>{{ med.name }}: {{ med.dose }} every {{ med.frequency }} hours | next dose = {{ med.next_dose_datetime }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>No medications listed.</p>
{% endif %}

<a href="{% url 'register_medication' %}">Add medication</a>

{% endblock %}

{% block script %}
    <!-- Dentro dessa tag abaixo pode ir qualquer código react -->
    <script type="text/babel"></script>
{% endblock %}