{% extends "main_app/layout.html" %}
{% load static %}

{% block body %}
<link rel="stylesheet" href="{% static 'main_app/css/index.css' %}?v=1" />

<div class="main-content">
    <div class="header">
        <h2 class="title-h2">Medicamentos</h2>
        <button class="btn-add-medication" onclick="location.href='{% url 'register_medication' %}'">Adicionar Medicamento</button>
        <label class="switch">
            <input type="checkbox" id="toggleMedications">
            <span class="slider round"></span>
        </label>
    </div>

    {% if userMedsForToday %}
        <div id="medicationsToday" class="medications-list">
            {% for med in userMedsForToday %}
                <div class="medication-card">
                    <p class="medication-name">{{ med.name }}</p>
                    <p class="medication-detail">Você deve tomar essa medicação às {{ med.next_dose_datetime|date:"H:i" }}</p>
                    <p class="medication-detail"><strong>Dose:</strong> {{ med.dose }}</p>
                    <p class="medication-detail"><strong>Observações:</strong> {{ med.observations }}</p>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="no-medications">Nenhum medicamento listado para hoje.</p>
    {% endif %}

    {% if userMeds %}
        <div id="allMedications" class="medications-list" style="display:none;">
            {% for med in userMeds %}
                <div class="medication-card">
                    <p class="medication-name">{{ med.name }}</p>
                    <p class="medication-detail"><strong>Dose:</strong> {{ med.dose }}</p>
                    <p class="medication-detail"><strong>Frequência:</strong> Cada {{ med.frequency }} horas</p>
                    <p class="medication-detail"><strong>Início:</strong> {{ med.start_datetime|date:"d/m/Y H:i" }}</p>
                    <p class="medication-detail"><strong>Fim:</strong> {{ med.end_date|date:"d/m/Y" }} (se aplicável)</p>
                    <p class="medication-detail"><strong>Próxima Dose:</strong> {{ med.next_dose_datetime|date:"d/m/Y H:i" }}</p>
                    <p class="medication-detail"><strong>Observações:</strong> {{ med.observations }}</p>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="no-medications">Nenhum medicamento listado.</p>
    {% endif %}
    
    <a href="{% url 'register_medication' %}" class="link-add-medication">Adicionar Medicamento</a>
</div>

<script>
    document.getElementById('toggleMedications').addEventListener('change', function() {
        var medicationsToday = document.getElementById('medicationsToday');
        var allMedications = document.getElementById('allMedications');
        if (this.checked) {
            allMedications.style.display = 'block';
            medicationsToday.style.display = 'none';
        } else {
            allMedications.style.display = 'none';
            medicationsToday.style.display = 'block';
        }
    });
</script>

{% endblock %}