{% extends "main_app/layout.html" %} {% load static %} {% block body %}

<link rel="stylesheet" href="{% static 'main_app/css/initial.css' %}?v=1" />

<div class="general-container">
  <div class="login-container animated">
    <form action="{% url 'login' %}" method="post" class="login-form">
      {% csrf_token %}
      <h4 class="h4">Login</h4>
      <div class="form-group">
          {{ form.username.label_tag }} {{ form.username }} {% if form.username.errors %}
        <span class="error">{{ form.username.errors.as_text }}</span>
        {% endif %}
      </div>
      <div class="form-group">
        {{ form.password.label_tag }} {{ form.password }} {% if form.password.errors %}
        <span class="error">{{ form.password.errors.as_text }}</span>
        {% endif %}
      </div>
      <button type="submit" class="login-button">Entrar</button>
    </form>
  </div>
</div>

{% endblock %}