{% extends "main_app/layout.html" %} {% load static %} {% block body %}
<link rel="stylesheet" href="{% static 'main_app/css/login.css' %}" />

<div class="login-container">
  <form action="{% url 'login' %}" method="post" class="login-form">
    {% csrf_token %}
    <div class="form-group">
      {{ form.username.label_tag }} {{ form.username }}
      <span class="error">{{ form.username.errors }}</span>
    </div>
    <div class="form-group">
      {{ form.password.label_tag }} {{ form.password }}
      <span class="error">{{ form.password.errors }}</span>
    </div>
    <button type="submit" class="login-button">Entrar</button>
  </form>
</div>

{% endblock %}

<!-- MUI core
<script src="https://unpkg.com/@mui/material@latest/umd/material-ui.production.min.js"></script>
MUI icons -->
<!-- <script src="https://unpkg.com/@mui/icons-material@latest/umd/material-ui-icons.min.js"></script> -->

<!-- <script type="text/babel">
  function Login() {
    const [name, setName] = React.useState("");
    const [password, setPassword] = React.useState("");

    const HandleName = (e) => {
      setName(e.target.value);
    };

    const HandlePassword = (e) => {
      setPassword(e.target.value);
    };

    const HandleSubmit = () => {
      preventDefault();
    };

    return (
      <div>
        <div
          style={{
            display: "flex",
            alignItems: "center",
            justifyContent: "center",
          }}
        >
          <div>Usuário: </div>
          <input
            type="text"
            name="username"
            value={name}
            onChange={HandleName}
            placeholder="Digite o nome"
            style={{
              maginRight: "10px",
            }}
          />
        </div>

        <div
          style={{
            display: "flex",
            alignItems: "center",
            justifyContent: "center",
          }}
        >
          <div>Senha:</div>
          <input
            type="text"
            name="password"
            onChange={HandlePassword}
            placeholder="Digite a senha"
          />
        </div>
       
      </div>
    );
  }

  ReactDOM.render(<Login />, document.getElementById("login-form"));
</script> -->
