{% extends "main_app/layout.html" %} {% load static %} {% block body %}

<link rel="stylesheet" href="{% static 'main_app/css/login.css' %}?v=1" />

<div class="general-container">
  <div class="login-container animated">
    <form action="{% url 'login' %}" method="post" class="login-form">
      {% csrf_token %}
      <h4 class="h4">Login</h4>
      <div class="form-group">
          {{ form.username.label_tag }} {{ form.username }} {% if form.username.errors %}
        <span class="error">{{ form.username.errors.as_text }}</span>
        {% endif %}
      </div>
      <div class="form-group">
        {{ form.password.label_tag }} {{ form.password }} {% if form.password.errors %}
        <span class="error">{{ form.password.errors.as_text }}</span>
        {% endif %}
      </div>
      <button type="submit" class="login-button">Entrar</button>
    </form>
  </div>
  <div class="slogan-container">
    <p class="brand">OW! Remédio,</p> <p class="slogan"> sua solução para nunca mais
    <br>esquecer de tomar seus medicamentos! </p>
  </div>
</div>

{% endblock %}

<!-- MUI core
<script src="https://unpkg.com/@mui/material@latest/umd/material-ui.production.min.js"></script>
MUI icons -->
<!-- <script src="https://unpkg.com/@mui/icons-material@latest/umd/material-ui-icons.min.js"></script> -->

<!-- <script type="text/babel">
  function Login() {
    const [name, setName] = React.useState("");
    const [password, setPassword] = React.useState("");

    const HandleName = (e) => {
      setName(e.target.value);
    };

    const HandlePassword = (e) => {
      setPassword(e.target.value);
    };

    const HandleSubmit = () => {
      preventDefault();
    };

    return (
      <div>
        <div
          style={{
            display: "flex",
            alignItems: "center",
            justifyContent: "center",
          }}
        >
          <div>Usuário: </div>
          <input
            type="text"
            name="username"
            value={name}
            onChange={HandleName}
            placeholder="Digite o nome"
            style={{
              maginRight: "10px",
            }}
          />
        </div>

        <div
          style={{
            display: "flex",
            alignItems: "center",
            justifyContent: "center",
          }}
        >
          <div>Senha:</div>
          <input
            type="text"
            name="password"
            onChange={HandlePassword}
            placeholder="Digite a senha"
          />
        </div>
       
      </div>
    );
  }

  ReactDOM.render(<Login />, document.getElementById("login-form"));
</script> -->
