{% extends "main_app/layout.html" %}
{% load static %}

{% block body %}
<link rel="stylesheet" href="{% static 'main_app/css/profile.css' %}?v=1" />

<div">
    <section class="container grid grid-template-columns">
        <div class="item">
            <div class="circle">{{ user.username }}</div>
        </div>
        <div class="item">
            <h3 class="title">Informações pessoais</h3>
            <br>
            <p class="label">Nome de usuário: </p><p>{{ user.username }}</p>
            <br>
            <p class="label">Número de WhatsApp: </p><p>{{ user.whatsapp_number }}</p>
            <br>
            <p class="label">E-mail: </p><p>{{ user.email }}</p>
        </div>
    </section>
</div>

{% endblock %}

{% block script %}
<script src=""></script>
{% endblock %}