{% extends "main_app/layout.html" %} {% load static %} {% load livereload_tags%}
{% block body %}

<link rel="stylesheet" href="{% static 'main_app/css/register.css' %}?v=1" />

<div class="general-container">
  <form
    action="{% url 'register' %}"
    method="post"
    class="form"
  >
    <h2>Cadastre-se</h2>
    {% csrf_token %}
    <div class="form-group">
      {{ form.username.label_tag }} {{ form.username }}
      <span class="error">{{ form.username.errors }}</span>
    </div>
    <div class="form-group">
      {{ form.email.label_tag }} {{ form.email }}
      <span class="error">{{ form.email.errors }}</span>
    </div>
    <div class="form-group">
      {{ form.whatsapp_number.label_tag }} {{ form.whatsapp_number }}

      <div class="error">{{form.whatsapp_number.errors }}</div>
    </div>
    <div class="form-group">
      {{ form.password1.label_tag }} {{ form.password1 }}

      <span class="error">{{form.password1.errors }}</span>
    </div>
    <div class="form-group">
      {{ form.password2.label_tag }} {{ form.password2 }}

      <span class="error">{{form.password2.errors }}</span>
    </div>
    <input
      class="btn btn-primary"
      id="button"
      type="submit"
      value="Cadastrar"
    />
    <div class="login">
      Já possui uma conta? <a href="{% url 'login' %}">Faça login aqui!</a>
    </div>
    <div class="twilio">Obs: Para se cadastrar no Twilio e receber as notificações clique <a href="https://api.whatsapp.com/send?phone=14155238886&text=join%20fifteen-ground">nesse link</a> e envie a mensagem.</div>
  </form>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
      const input = document.getElementById('id_whatsapp_number');
  
      input.addEventListener('input', function() {
          var value = input.value.replace(/\D/g, '');
          if (value.length > 11) {
              value = value.substring(0, 11);
          }
          var formatted = '';
          if (value.length > 2) {
              formatted = '(' + value.substring(0,2) + ') ';
              if (value.length === 11) {
                  formatted += value.substring(2,7) + '-' + value.substring(7);
              } else if (value.length === 10) {
                  formatted += value.substring(2,6) + '-' + value.substring(6);
              } else {
                  formatted += value.substring(2);
              }
          } else {
              formatted = value;
          }
          input.value = formatted;
      });
  });
</script>
  

{% endblock %}
