{% extends "main_app/layout.html" %}

{% block body %}

    <h2>Cadastre-se</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Email">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="whatsapp" placeholder="Whatsapp">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Senha">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="confirmation" placeholder="Confirme a senha">
        </div>
        <input class="btn btn-primary" type="submit" value="Cadastrar">
    </form>

    Já possui uma conta? <a href="{% url 'login' %}">Faça login aqui.</a>

{% endblock %}