{% extends "main_app/layout.html" %}

{% load static %} 
{% load livereload_tags%}

{% block body %}
    <link rel="stylesheet" href="{% static 'main_app/css/registerMedication.css' %}?v=1" />

    <div id="main-content">
        
        <form id="registration-form" action="{% url 'register_medication' %}" method="post">
            <h2 class="title-h2">Novo Medicamento</h2>

            {% csrf_token %}
            <div id="basic-info">
                <h3 class="section-title"><span>1</span> Remédio</h3>
    
                <div id="medication-name-input-group" class="form-group">
                    {{ form.name.label_tag }}
                    {{ form.name }}
                    {{ form.name.errors }}
                </div>
    
                <div id="notify-input-group" class="form-group">
                    {{ form.notify.label_tag }}
                    {{ form.notify }}
                    {{ form.notify.errors }}
                </div>
    
                <div id="observation-input-group" class="form-group">
                    {{ form.observations.label_tag }}
                    {{ form.observations }}
                    {{ form.observations.errors }}
                </div>
            </div>
    
            <div id="consumption">
                <h3 class="section-title"><span>2</span> Posologia</h3>
    
                <div id="frequency-input-group" class="form-group">
                    {{ form.frequency.label_tag }}
                    {{ form.frequency }}
                    {{ form.frequency.errors }}
                </div>
    
                <div id="dose-input-group" class="form-group">
                    {{ form.dose.label_tag }}
                    {{ form.dose }}
                    {{ form.dose.errors }}
                </div>
            </div>
    
            <div id="frequency">
                <h3 class="section-title"><span>3</span> Período de Tratamento</h3>
    
                <div id="start-date-input-group" class="form-group">
                    {{ form.start_datetime.label_tag }}
                    {{ form.start_datetime }}
                    {{ form.start_datetime.errors }}
                </div>
    
                <div id="end-date-input-group" class="form-group">
                    {{ form.end_datetime.label_tag }}
                    {{ form.end_datetime }}
                    {{ form.end_datetime.errors }}
                </div>
            </div>
            
            <div id="confirmation-buttons">
                <a id="cancel-button" href="{% url 'index' %}">Cancelar</a>
                <button id="submit-button" type="submit">
                    Confirmar
                </button>
            </div>
        </form>
    </div>

{% endblock %}