@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

nav {
  background-color: #8d77be;
}

.btn a {
  background-color: #3f08b8;
}

.nav-bar-layout {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
  padding-left: 1rem;
}

.nav-link{
  color: #fff;
}

#brand {
  color: white;
  font-weight: 600;
}