body{
    font-family: Poppins;
    background-color: #ccc;
}

.grid-template-columns {
    display: grid;
    grid-template-columns: auto auto;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 50px;
    width: 40vw;
    max-width: 800px;
    height: 275px;
    margin: 0 auto;
    margin-top: 50px;
  }

  .title{
    color: #8D77BE;
    font-size: 20px;
    font-weight: 700;
  }

  .label{
    color: #666;
  }

  .circle{
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    font-weight: 700;
  }

  #user-info{
    display: block;
  }